
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


h1{
    font-family: "Playfair Display", serif;
    font-size: 46px;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 48px;
    letter-spacing: 1px;
}
h3{
    font-family: "Source Sans 3", sans-serif;
}
h4{
    font-family: "Source Sans 3", sans-serif;
}
p{
    font-family: "Source Sans 3", sans-serif;
}
li{
    font-family: "Source Sans 3", sans-serif;
}
a{
    font-family: "Source Sans 3", sans-serif;
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
:root{
    --dark-collor: #353535;
    --main-accent: #FFEB56;
    --second-accent: #A8DCD9;
    --third-accent: #F2D1C9;
    --shadow: #03030375;
}

.button-52 {
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    touch-action: manipulation;
}
.button-52:after {
    content: "";
    background-color: #ffeb56;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.button-52:hover:after {
    top: 0px;
    left: 0px;

}
.container{
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.little-container{
    display: flex;
}
header {
    
    flex-direction: column;
    .logo {
        padding-top: 10px;

    }
    .header-top{

        align-items: start;    
        nav {
            align-items: baseline;
            ul {
                list-style: none;
                li {
                    padding-inline: 20px;
                }
            }

        }
        .login {
            margin-left: auto;
            padding: 10px 40px 8px;
            outline: 0;
            border: 1px solid black;
            cursor: pointer;
            position: relative;
            background-color: rgba(0, 0, 0, 0);
            user-select: none;
            touch-action: manipulation;

        }
    }
    .hero{
        .action{
            z-index: 2;
            max-width: 420px;
            height: 200px;
            padding-bottom: 90px;
        }
        .cards{
            position: relative;
            z-index: 3;
            width: 70%;

            .card {
                margin: 5px;
                background-color:var(--dark-collor);
                color: rgb(255, 255, 255);
                width: 180px;
                height: 280px;
                margin-left: -0px;
                
                border-radius: 16px;
                border: solid px var(--shadow);
                img{
                    border-radius: 7px;
                }
            }
            .card-inside{
                margin-left: -35px;
                margin-top: -32px;
                img{
                    scale: 0.685;
                }
                h3{
                    margin-top: -35px;
                    margin-left: 50px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 17px;
                    letter-spacing: 0.5px;
                }
                h4{

                    margin-top: -17px;
                    margin-left: 50px;
                    font-weight: 500;
                    font-size: 17px;
                }
                p{
                    margin-top: -18px;
                    margin-left: 50px;
                    font-size: 8px;
                    margin-right: 32px;
                }
            }

            .card-1{
                position: absolute;
                left: 220px;
                top: 60px;
                box-shadow: 30px 10px 15px -20px var(--shadow);
                transform:
                perspective(800px)
                rotateY(-5deg) 
                rotateX(35deg)
                rotateZ(65deg)
                scale(0.9);
            }
            .card-2{
                position: absolute;
                left: 130px;
                top: 10px;
                box-shadow: 20px 5px 30px -10px #000000;
                transform:
                perspective(800px)
                rotateY(-15deg) 
                rotateX(25deg)
                rotateZ(35deg)
                scale(0.9);
            }
            .card-3{
                position: absolute;
                left: 30px;
                box-shadow: 20px 15px 20px -5px var(--shadow);
                transform:
                perspective(800px)
                rotateY(-15deg) 
                rotateX(10deg)
                rotateZ(5deg)
                scale(0.9);
            }
        }
    }
}
.produkte{
    background-image: linear-gradient();
    padding-top: 50px;
    h2{
        justify-content: center;
    }


}
.auswahl{
    background-color: var(--dark-collor);
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;

}
.kleinekarte{   
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 20px 25px 20px -5px var(--shadow);

    img{
        border-radius: 6px;
    }
    h4{
        margin-top: 5px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
    p{
        margin-top: -20px;
        font-size: 14px;
    }

}
.kleine-1{
    margin-left: 80px;
}
.kleine-4{
    margin-right: 80px;
}
.moto{
    flex-direction: column;

    h2{
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
    }
    hr{
        z-index: 0;
        padding: 20px;
        width: 550px;
        background-color: var(--main-accent);
        border: none;
        margin-top: -65px;
    }
    p{
        margin-left: 55px;
        margin-right: auto;
        margin-top: 5px;

    }
}
.roestung{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    div{
        height: 220px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        border-radius: 5px;
        box-shadow: 10px 10px 5px -8px var(--shadow);
        img{
            border-radius: 5px;
        }
    }
    .div1{
        margin-left: 7%;
    }
    .div3{
        margin-right: 7%;
    }
}

.bg-image{
    height: 160px;
    margin-top: -190px;
    background-color: var(--dark-collor);
    border-radius: 10px;
    background-size: contain;
}

.lieferung{

    margin-top: 120px;
    position: relative;

}
.content-lieferung{

    width: 400px;

}

.images-delev{
    display: flex;
    position: absolute;
    margin-left: -10px;
    img{
        border-radius: 7px;
        
        box-shadow: 10px 10px 5px -8px var(--shadow);
        scale: 0.75;
        border: solid 12px #ffffff;
        
    }
    .pic1{
        margin-left: -30px;
        margin-top: -60px;
    }
    .pic2{
        margin-left: -150px;
        
    }
    .pic3{margin-left: -150px;
        margin-top: 60px;
    }

}
footer{
    padding-top: 50px;
    margin-top: 120px;
    background-color: var(--dark-collor);
    color: #ffffff;
    line-height: 10px;
    padding-bottom: 40px;

    align-items: start;
    a{
    color: #ffffff;
    line-height: 23px;

    }
}


.logo-b{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.social{
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: -90px;
    margin-bottom: -80px;
    scale: 0.3;
    img{
        mix-blend-mode: difference;
    }

}
.adress{
    
    margin-right: auto;
    margin-left: auto;

}
.payment{
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
}
.menu-footer{
    margin-right: auto;
    margin-left: auto;
}
.legal{
    margin-right: auto;
    margin-left: auto;
}